<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>API List</p>
    <ol>
      <li>
        <a href="/customers"> customer list</a>
      </li>
      <li>
        <a href="/customer_address"> customer_address list</a>
      </li>
      <li>
        <a href="/product"> product list</a>
      </li>
      <li>
        <a href="/payment"> payment-method list</a>
      </li>
      <li>
        <a href="/transaction"> transaction list</a>
      </li>
      <li>
        <a href="/transaction/1"> transaction_item list</a>
      </li>
    </ol>
    <p></p>
  </body>
</html>
